################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/More-Collections/obj
/src/obj
/CollectionsTest/bin/Debug/netcoreapp3.1
/CollectionsTest/obj
/src/bin/Debug/netstandard2.0
/tests/bin/Debug/netcoreapp3.1
/tests/obj
/Benchmarks/obj/Debug
/Implementations/obj
/packages
/Benchmarks/bin
/Benchmarks/obj
/Benchmarks-Old/obj/Debug
/tests/bin/Release/netcoreapp3.1
/src/bin/Release/netstandard2.0
/Implementations/bin/Release/netstandard2.0
